.App {
  text-align: center;
}

/* Nav.css */

.menu{
  background-color:  #1B4F73;
  display: flex; 
  align-items: center; 
  justify-content: space-between;
  width: 1903px;
  position: relative;
}

.menu a{
  color: #f4eeed;
  text-decoration: none;
  transition: color 0.2s;
}

.logo{
  width: 150px;
}

.nav{
  display: flex;
  padding: 16px;
  color: white
}

.d-flex{
  position: relative;
  justify-content: center;
  right: 500px;
  width: 750px;
}

/* Footer.css */

.col-md-6 {
  color: #f4eeed;
}

.footer {
  width: 100%;
  margin-top: 51%;
  background-color: #1B4F73;
}